---
layout: default
---

<div class="home">

  <h1 class="page-heading">博客/Post</h1>

  <ul class="post-list">

{% for post in paginator.posts %}
  <li>
    <span class="post-meta">{{ post.date | date: "%Y-%m-%d" }}
       {{ post.categories | array_to_sentence_string  }}

    <h2>
      <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
    </h2>
   {{ post.excerpt }}   
   <p><h3>
	   <a href="{{ post.url | prepend: site.baseurl}}">查看更多/ReadMore &raquo;</a>
   </h3></p>
  </li>
{% endfor %}

{% if paginator.total_pages > 1 %}
  <div class="pagination">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; [上一页/Prev]</a>
    {% else %}
      <span>&laquo; [上一页/Prev]</span>
    {% endif %}

    {% for page in (1..paginator.total_pages) %}
      {% if page == paginator.page %}
	<em> [第 {{ page }} 页 / Page {{ page }}] <em>
      {% elsif page == 1 %}
        <a href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}">
		[第{{ page }}页/Page {{ page }}]
        </a>
      {% else %}
        <a href="{{ site.paginate_path | prepend: '/' | replace: '//', '/' | replace: ':num', page }}">
		[第{{ page }}页/ Page {{ page }}]
        </a>
      {% endif %}
    {% endfor %}

    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">[下一页/Next] &raquo;</a>
    {% else %}
      <span>[下一页/Next] &raquo;</span>
    {% endif %}
  </div>
{% endif %}

  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
