---
layout: default
comments: true
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
    <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%Y-%m-%d" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
  </header>
  <div class="post-categories">[分类：
  {% if post %}
    {% assign categories = post.categories %}
  {% else %}
    {% assign categories = page.categories %}
  {% endif %}
  {% for category in categories %}
  <a href="{{site.baseurl}}/categories/#{{category|slugize}}"> {{category}}</a>
  {% unless forloop.last %}&nbsp;{% endunless %}
  {% endfor %}
  ]


<span>[ 标签： 
  {% for tag in page.tags %}
    {% capture tag_name %}{{ tag }}{% endcapture %}
    <a href="/tag/{{ tag_name }}"><code class="highligher-rouge"><nobr>{{ tag_name }}</nobr></code>&nbsp;</a>
  {% endfor %}
]</span>
</p>
</div>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>
{% include archive.html %}
  <div id="disqus_thread"></div>
  <script>

     var disqus_config = function () {
     this.page.url = page.date;  // Replace PAGE_URL with your page's canonical URL variable
     this.page.identifier = page.date; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
     };
  (function() { // DON'T EDIT BELOW THIS LINE
	  var d = document, s = d.createElement('script');
	  s.src = 'https://chenchi.disqus.com/embed.js';
	  s.setAttribute('data-timestamp', +new Date());
	  (d.head || d.body).appendChild(s);
  })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

<div id="container"></div>
<link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
<script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
<script>
var gitment = new Gitment({
  owner: 'reallychenchi',
  repo: 'ChenchiComment',
  oauth: {
    client_id: 'c7d7d87136e702063e47',
    client_secret: '4bd5de77e05e5a4fe564f578732115f641a7667d',
  },
})
gitment.render('container')
</script>


</article>
